<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="container body-content">
        <h2>Edit</h2>
        <form method="post" action="people/edit/<%person._id%>">
            <h4><%=person.firstName%> <%=person.lastName%> </h4>
            <hr/>
            <div class="form-horizontal">
                <hr/>
                <!-- first name -->
                <div class="form-group">
                    <label class="control-label col-md-2" for="firstName">First Name</label>
                    <div class="cod-md-10">
                        <input id="firstName" class="form-control text-box single-line"
                               type="text"
                               value="<%=person.firstName %>"/>
                    </div>
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label class="control-label col-md-2" for="lastName">Last Name</label>
                    <div class="cod-md-10">
                        <input id="lastName" class="form-control text-box single-line"
                               type="text"
                               value="<%=person.lastName %>"/>
                    </div>
                </div>

                <!-- birthDate -->
                <div class="form-group">
                    <label class="control-label col-md-2" for="BirthDate">Birth Date</label>
                    <div class="cod-md-10">
                        <input id="BirthDate" class="form-control text-box single-line"
                               type="date"
                               value="<%=person.birthDate.slice(0, 10)%>"/>
                    </div>
                </div>

                <!-- Image -->
                <div class="form-group">
                    <label class="control-label col-md-2" for="Image">Image</label>
                    <img id="Image" class="img-rounded" height="250"
                         src="<%=person.image%>"
                         alt="<%=person.firstName%> <%=person.lastName%>"
                         title="<%=person.firstName%> <%=person.lastName%>"/>
                </div>
            </div>
        </form>

        <p>
            <a href="/">Back to List</a>
        </p>
    </div>
</main>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>