<!-- Partial view that is embedded in the index view. It is also returned
    for AJAX search requests. -->

<div id="peopleList">
    <table class="table">
        <tr>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Interests</th>
        </tr>
        <!-- Begin people for loop -->
        <% for (var i = 0; i < people.length; i++) { %>
        <tr>
            <!-- Image with hyperlink to details -->
            <td>
                <!-- If the user clicks the image, navigate to person details page. -->
                <a href="people/<%= people[i]._id %>">
                    <!-- Get the user image -->
                    <img class="img-rounded" height="85"
                         src="<%=people[i].image %>"
                         alt="<%=people[i].fullName %>"
                         title="<%=people[i].fullName %>"/>
                </a>
            </td>
            <!-- FirstName -->
            <td>
                <%= people[i].firstName %>
            </td>
            <!-- LastName -->
            <td>
                <%= people[i].lastName %>
            </td>
            <!-- Age -->
            <td>
                <%= people[i].age %>
            </td>
            <!-- Address -->
            <td>
                <%= people[i].address1 %><br/>
                <%= people[i].address2 %>

            </td>
            <!-- Interests -->
            <td>
                <% var interests = people[i].interests.split(",");
                   for (var j=0; j<interests.length; j++) { %>
                      <%=interests[j]%><br/>
                <% } %>
            </td>
        </tr>
        <!-- End people for loop -->
        <% } %>
    </table>

    <!-- pagination support -->
    <div>
        <ul class="pagination">
            <% for (var i = 1; i <= pageCount; i++) { %>
                <%if (i == page) {%>
                    <li class="active"><a href="people?page=<%=i%>&searchTerm=<%=searchTerm%>"><%=i%></a></li>
                <%} else { %>
                    <li><a href="people?page=<%=i%>&searchTerm=<%=searchTerm%>"><%=i%></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>
